{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"> <!-- compatibilidad navegador edge -->           
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static "/css/index.css" %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,600&display=swap">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <title>PlantinoVirtual</title>
</head>

<body >
    <header>
            <div class="header-contenedor">
            <div class="logo"> 
                <img src="{% static "/img/index/VirtualPlantinoo.png" %}" alt="" width="150px" >
            </div>
                <ul class="menu">
                    <li><a href="{% url "index" %}">Inicio</a></li>
                    <li><a href="{% url "vision" %}">Visión</a></li>
                    <li><a href="{% url "mision" %}">Misión</a></li>
                    <li><a href="{% url "portafolio" %}">Portafolio</a></li>
                    <li><a href="{% url "contacto" %}">Contactos</a></li>
                    <li><a href="">Iniciar Sección</a></li>
                </ul>
            </div>
    </header>
    <main>
        <section id ="banner">
            <div id="carrusel">
                <img src="{% static "/img/index/banner1.png" %}" width="2000px" height="800px">
                <img src="{% static "/img/index/banner2.png" %}" width="2000px" height="800px">
                <img src="{% static "/img/index/banner3.png" %}" width="2000px" height="800px">
                <img src="{% static "/img/index/banner4.png" %}" width="2000px" height="800px">
                <img src="{% static "/img/index/banner5.png" %}" width="2000px" height="800px">
                <div class="bienvenidos-text">
                <h2>¡Bienvenido a nuestro sitios de ventas de plantas!</h2>
                <p>Explora nuestra amplia selección de plantas hermosas y encuentra la perfecta para tu hogar o jardín. Si tienes alguna pregunta o necesitas ayuda, no dudes en ponerte en contacto con nosotros. ¡Disfruta de tu visita!</p>
                <a href="">Contactar</a>
            </div>
            <div class="carousel-arrow carousel-arrow-left" onclick="changeSlide(-1)">&#9664;</div>
            <div class="carousel-arrow carousel-arrow-right" onclick="changeSlide(1)">&#9654;</div>
        </div>
            </div>
        </section>

        <section id="productos">
            <h2>Nuevos Productos</h2>
        </section>
        <section id="nuevos">
            <div class="productos-container"></div>
            <div class="productos-gris-horizontal"> <!-- Clase para el fondo gris y disposición horizontal -->
                <article>
                    <img src="{% static "/img/index/lentejita.png" %}" alt="" width="200px">
                    <a href=""><h3>Lentejitas</h3></a>
                    <b>S/12</b>
                </article>
                <article>
                    <img src="{% static "/img/index/girasolpiola.png" %}" alt="" width="200px">
                    <a href=""><h3>Girasol</h3></a>
                    <b>S/25</b>
                </article>
                <article>
                    <img src="{% static "/img/index/carnivora.jpg" %}" alt="" width="200px">
                    <a href=""><h3>Carnivora</h3></a>
                    <b>S/15</b>
                </article>
                <article>
                    <img src="{% static "/img/index/cactus.png" %}" alt="" width="200px">
                    <a href=""><h3>Cactus</h3></a>
                    <b>S/30</b>
                </article>
            </div>
        </section>
        </section>
        
        <section id="productos">
            <h2>Plantas para el interior</h2>
        </section>
        
        <section id="interno">
            <div class="contenedor">
                <div class="productos-gris-horizontal"> <!-- Clase para el fondo gris y disposición horizontal -->
                    <article>
                        <img src="{% static "/img/index/higueraxd.png" %}" alt="" width="200px">
                        <a href=""><h3>Higuera</h3></a>
                        <b>S/30</b>
                    </article>
                    <article>
                        <img src="{% static "/img/index/margaritaxddx.png" %}" alt="" width="200px">
                        <a href=""><h3>Margaritas</h3></a>
                        <b>S/25</b>
                    </article>
                    <article>
                        <img src="{% static "/img/index/petunias.png" %}" alt="" width="197px">
                        <a href=""><h3>Petunias</h3></a>
                        <b>S/15</b>
                    </article>
                    <article>
                        <img src="{% static "/img/index/pinoxdxd.png" %}" alt="" width="200px">
                        <a href=""><h3>Pino Mini</h3></a>
                        <b>S/30</b>
                    </article>
                </div>
            </div>
        </section>
        
        <section id="productos">
            <h2>Plantas para el exterior</h2>
        </section>
        
        <section id="externo">
            <div class="contenedor">
                <div class="productos-gris-horizontal"> <!-- Clase para el fondo gris y disposición horizontal -->
                    <article>
                        <img src="{% static "/img/index/hebe.png" %}" alt="" width="200px">
                        <a href=""><h3>Hebe</h3></a>
                        <b>S/15</b>
                    </article>
                    <article>
                        <img src="{% static "/img/index/lojxd.png" %}" alt="" width="200px">
                        <a href=""><h3>Boj</h3></a>
                        <b>S/45</b>
                    </article>
                    <article>
                        <img src="{% static "/img/index/bambu.png" %}" alt="" width="200px">
                        <a href=""><h3>Bambú</h3></a>
                        <b>S/30</b>
                    </article>
                    <article>
                        <img src="{% static "/img/index/platanoxd.png" %}" alt="" width="200px">
                        <a href=""><h3>Árbol de Plátano</h3></a>
                        <b>S/60</b>
                    </article>
                </div>
            </div>
        </section>  
        <section id="info">
            <div class="contenedor">
                <h3>Tienda de plantas olinea</h3>
                <p>Descubre las plantas más hermosas, que mejor se adaptan a tu espacio, región geográfica y estilo de vida sin salir de casa. A la hora que sea y donde estés: Be.Green es la tienda online en la que podrás escoger plantas según tus espacios, gustos y necesidades con un simple clic pero también somos tus cómplices en la creación de ese rincón vegetal que necesitas para refugiarte.<br><br>
                   Olvídate de pasar días enteros visitando un vivero tras otro buscando una planta en específico, comparando precios o tratando de adivinar qué especie de planta podría sobrevivir en tu piso o jardín. Comprar en Be.Green es sinónimo de libertad: no hay prisas ni horarios, no hay dependientes que te acosan para que compres algo o que de plano no pueden ofrecerte la información que requieres. Aquí puedes visitar con calma todas y cada una de las plantas de nuestro catálogo y tomar tu tiempo para decir cuál es la que más te gusta. Be.Green te permite hacer una compra informada, lo que se traducirá en plantas sanas, felices y vivas.<br><br>
                   En nuestra tienda online encontrarás los accesorios con más estilo y personalidad, capaces de elevar el look de tus plantas e integrarlas en la decoración. Las plantas te permitirán explorar tu lado creativo. ¿La mejor parte? Estamos junto a ti para que esta sea una experiencia completa y satisfactoria, desde el primer clic hasta que recibes tus nuevas compañeras en la puerta de tu hogar u oficina. Más que una tienda online, queremos convertirnos en tus aliados para iniciar tu aventura plantil. Sueña espacios, inspírate y construye, estamos junto a ti para hacerlo realidad.</p>
            </div>
        </section>    
    </main>
    <footer>
        <div class="contenedor">
            <div class="contacto">
                <h3>CONTACTO</h3>
                <p>(+51) 929223136<br>
                tienda@plantino.pe<br>
                proyectos@plantino.pe</p>
            </div>
            <div class="sociales">
                <a href="https://www.facebook.com/profile.php?id=100061614375550" target="_blank">
                    <i class="fab fa-facebook"></i>
                </a>
                <a href="https://www.pinterest.es/search/pins/?q=plantino&rs=typed" target="_blank">
                    <i class="fab fa-pinterest"></i>
                </a>
                <a href="https://www.instagram.com/plantino.lb/" target="_blank">
                    <i class="fab fa-instagram"></i>            
                </a>
                <a href="https://www.youtube.com/@plantino3645/featured" target="_blank">
                    <i class="fab fa-youtube"></i>
                </a>
                <p class="copy">Virtual Plantino&copy; 2023</p>
            </div>
        </div>   
    </footer>
    <script>
        let currentSlide = 1;

        function changeSlide(n) {
            showSlide(currentSlide += n);
        }

        function showSlide(n) {
            let slides = document.querySelectorAll('#carrusel img');
            if (n > slides.length) currentSlide = 1;
            if (n < 1) currentSlide = slides.length;
            for (let i = 0; i < slides.length; i++) {
                slides[i].style.display = 'none';
            }
            slides[currentSlide - 1].style.display = 'block';
        }

        showSlide(currentSlide);
    </script>
</body>
</html>