{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static "/css/mision.css" %}">
    <title>Mision de la empresa de plantas</title>
</head>
<body class="container" >
    <section>
        <article></article>
            <h2>Mision de la empresa</h2>
            <li>
                    Proporcionar nuestar calidad: Nuestro compromiso principal es ofrecer plantas de la más alta calidad, cultivadas con cuidado atención<br>
                    y amor para garantizar su salud y belleza. Queremos que nuestros clientes encuentren en nuestras plantas una solución sostenible para<br>
                    mejorar su entorno y calidad de vida.<br><br>
                    Asesoramiento experto: Nos esforzamos por ser más que una tienda de plantas; somos un recurso confiable para nuestros clientes.<br>
                    Nuestro equipo de expertos está dispuesto a proporcionar asesoramiento experto sobre el cuidado de las plantas, la selección<br>
                    adecuada y la creación de jardines excepcionales.<br><br>
                    Sostenibilidad: Promovemos la sostenibilidad en cada aspecto de nuestro negocio. Nos comprometemos a ofrecer plantas cultivadas<br>
                    de manera responsable y a fomentar prácticas ecológicas en nuestro enfoque comercial. También trabajamos en la concienciación<br>
                    ambiental de nuestros clientes.<br><br>
                    Variedad y disponibilidad: Ofrecemos una amplia gama de plantas, desde especies exóticas hasta plantas nativas, con un énfasis<br>
                    en la disponibilidad durante todo el año. Nuestra misión es ser la fuente de confianza para cualquier tipo de planta que nuestros<br>
                    clientes necesiten.<br><br>
                    Servicio al cliente excepcional: Valoramos a nuestros clientes y nos esforzamos por brindar un servicio al cliente excepcional.<br>
                    Estamos comprometidos a responder a sus preguntas, necesidades y preocupaciones de manera oportuna y eficiente.<br><br>
                    Comunidad: Nos preocupamos por la comunidad en la que operamos y trabajamos para fortalecer los lazos con organizaciones locales,<br>
                    educativas y ecológicas. Contribuimos a la belleza y la sostenibilidad de nuestros entornos locales.<br><br>
                    Innovación y crecimiento: Buscamos continuamente oportunidades para crecer y mejorar, ya sea a través de la introducción de nuevas<br>
                    variedades de plantas, la expansión de servicios o la adopción de tecnologías y prácticas más eficientes.<br><br>
            </li>
            <aside>
                <img src="{% static "img/mision/imgaenpresa.png" %}" alt="baner" width="350px" height="270px">
            </aside>
        </article>
    </section> 
</body>
</html>